<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.faster.framework.test.modules.v1.users.mapper.UserMapper">
    <select id="test" resultType="cn.org.faster.framework.test.service.UserEntity">
        select * from sys_user
    </select>
</mapper>